<div class="details">
  <%= image_tag @project.detail, class: "main-image" %>
  <div class="small-infos">
    <div class="distance">
      <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/location.png" %>
      <span>距离<%= @project.distance([0, 0]) %>km</span>
    </div>
    <div class="attendee">
      <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/people.png" %>
      <span>234人参加</span>
    </div>
    <div class="comments">
      <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/review.png" %>
      <span>45个评论</span>
    </div>
  </div>
  <div class="address"><%= @project.address %></div>
  <div class="location clearfix">
    <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/address.png", class: "location-image" %>
    <div>
      <%= @project.location %>  
    </div>
  </div>
  <div class="description"><%= @project.description %></div>
  <div class="intro">
    <%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/Donation.png", class: "donate-image" %>
    <br>
    <br>
    <div class="">
      <span>捐助项目:</span> 天翔助学计划。 天翔助学计划接收一对一的赞助， 最后通过书籍的方式捐赠给贵州山区的孩子，给他们送去知识和希望。
    </div>
    <br>
    <div class="">
      <span>赞助标准:</span><br>
      <div>1元 ＝ 1000步，寻找到答案奖励 5元</div>
    </div>
    <br>
    <div class="">
      <span>活动规则:</span><br>
      <div>
        1. 点击出发，我们将开始记录你的步数<br>
        2. 到达指定目的地，我们将依据你的步数按照赞助标准捐助相应金额到指定公益基金<br>
        3. 到达目的地后，您会收到一条线索， 根据线索最终找到答案，将再次捐助找到答案的对应金额
      </div>
    </div>
    <br>
    <div class="">
      <div class="sponsor">赞助商:</div><%= image_tag "http://7xleh2.dl1.z0.glb.clouddn.com/sponsor_logo.png" %>
    </div>
  </div>
  
</div>